.btn {
  display: inline-block;
  border: 1px solid;
  // border-radius: 3px;
  padding: 5px 10px;
  outline: none;
  text-transform: capitalize;
  cursor: pointer;

  &.big {
    padding: 5px 20px;
    font-size: 1rem;
    font-weight: 100;
  }

  &.default {
    background-color: $black4-clr;
    color: $main-dark-text-color;
  }

  &.primary{
    background-color: $main-green-clr;
    border: 1px solid $main-hover-clr;
    color: white;
  }
}
