.common-wrapper{
  width: 100%;
  height: 100%;
  background-image: url('/assets/pictures/index.back.jpg');

  .overlay{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    color: $main-bright-text-color;
  }
}
