.form {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  padding-top: 10px;

  .form-row {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
  }
}

.form-group {


  .form-row {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  .control-buttons{
    display: flex;
    align-items: flex-end;
  }
}
.block-label {
  border-bottom: 1px solid $black4-clr;
  margin: 10px 0;
  padding: 5px;
  background-color: $black2-clr;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
