.ng-invalid.show-errors {
  border-left: 3px solid $error-clr;
  background-color: $error-light-clr;
}

input.form-control{
  width: 100%;
  border: 1px solid $black4-clr;
  padding: 8px;

  &:focus{
    outline: none;
  }
}

input[type="date"].form-control,
input[type="time"].form-control
{
  padding: 5px;
  max-width: 150px;
}

.labeled-form-control {
  flex-grow: 0;
  padding-right: 10px;

  &.grow {
    flex-grow: 1;
  }

  &:last-child {
    padding-right: 0;
  }

  label{
    display: block;
    font-weight: bold;
    padding-bottom: 3px;
  }
}

textarea.form-control {
  border: 1px solid $black4-clr;
  width: 100%;
  padding: 8px;
}

select.form-control {
  width: auto;
  padding: 6px;
  height: 32px;
  border: 1px solid $black4-clr;

  &.wide {
    width: 100%;
  }
}

.form-control.hasError {
  border: 1px solid $error-clr;
}

.radio-block {

  label {
    display: block;
    position: relative;
    width: 35px;
    height: 35px;

    .checkmark {
      width: 35px;
      height: 35px;
      background-color: $black2-clr;
      border: 1px solid $black4-clr;
      border-radius: 50%;
    }

    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    input:checked ~.checkmark {
      background-color: $black4-clr;
    }

    p {
      position: absolute;
      left: 7px;
      top: 4px;
      font-weight: bold;
      font-size: 20px;
    }
  }

}
