.table{
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;

  th{
    background-color: #fff;
  }

  thead {
    font-weight: bold;

    th {
      position: sticky;
      top: -2px;
      border-bottom: 1px solid $black4-clr;
    }
  }
  tbody tr{
    cursor: pointer;
  }

  tr:hover,
  tr.odd:hover {
    background-color: $main-middle-clr;
  }

  tr.odd {
    background-color: $black2-clr;
  }

  td {
    border-top: none;
    border: 1px solid $black4-clr;
    padding: 10px 5px;

    &.center {
      text-align: center;
    }

    &:first-child {
      border-top: 1px solid $black4-clr;
    }

    &.wide {
      width: 70%;
    }
  }
}
