<div class="modal-window">
  <h4>Установка рабочего времени</h4>
  <hr>
  <p>для: <strong>{{ data.title }}</strong></p>
  <p>на дату: <strong>{{ data.periodDate | date:'dd MMMM yyyy'}}</strong></p>
  <br>
  <mis-loader *ngIf="inProgress; else periodForm"></mis-loader>

  <ng-template #periodForm>

    <div class="form" [formGroup]="form">

      <div class="form-group" formArrayName="periods">
        <div class="form-row" *ngFor="let period of timePeriods.controls; let i=index" [formGroupName]="i">
          <div class="labeled-form-control grow">
            <label>Тип рабочего времени:</label>
            <select class="form-control wide" [class.show-errors]="showErrors" formControlName="periodType">
              <option *ngFor="let item of periodsTypes.getList()" value="{{ item.key }}"> {{ item.value }} </option>
            </select>
          </div>
          <div class="labeled-form-control">
            <label>Начало:</label>
            <input type="time" class="form-control" [class.show-errors]="showErrors" formControlName="start">
          </div>
          <div class="labeled-form-control">
            <label>Конец:</label>
            <input type="time" class="form-control" [class.show-errors]="showErrors" formControlName="end">
          </div>
          <div class="control-buttons">
            <button type="button" class="btn default" title="Удалить интервал" (click)="removePeriod(i)"> - </button>
          </div>
        </div>
      </div>

      <div class="form-row">
        <button type="button" class="btn primary" (click)="addPeriod()">
          Добавить часы
        </button>
      </div>
    </div>

    <div class="modal-window__buttons">
      <button (click)="close()" class="btn default" type="button">
        Отмена
      </button>

      <button (click)="onSubmit()" class="btn primary" type="button">
        Ок
      </button>
    </div>
  </ng-template>

</div>
