@import 'vars/colors';

.wrapper{
  display: flex;
  flex-flow: column;
  position: relative;

  header{
    position: sticky;
    top: 0;
    height: 50px;
    border-bottom: 1px solid $black4-clr;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}
