@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto-Thin.ttf') format('truetype') /* Safari, Android, iOS */
}

body {
  position: relative;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#pre-loader {
  background: url('/assets/pictures/index.back.jpg') no-repeat 100% 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  transition: 1s;
}

#pre-loader.hidden {
  opacity: 0;
  z-index: -1;
  transition: 1s;
}

.shadow {
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.shadow h3,
.shadow h4{
  padding: 10px 0 0 0;
  margin: 0;
  color: #c2e4f9;
}

.shadow h3{
  font-size: 25px;
}
