<header class="main-header">

  <div class="left">

    <div class="messages">
      <div class="attention">9</div>
      <img class="icon-50" src="/assets/icons/notifications/message-letter.svg" alt="">
    </div>
  </div>

  <div class="right dd-menu-container">

    <div class="user-block" (click)="menu()">
      <h1>Поважный П.А.</h1>
      <p>Разработчик системы "МИС"</p>
    </div>

    <img class="icon-50" src="/assets/icons/users/user-color.svg" alt="">

    <div class="drop-down-menu" *ngIf="toggleUserMenu">
      <div class="dd-menu-item" *ngIf="isAuthenticated">
        <p (click)="logoff()">Выход</p>
      </div>
    </div>
  </div>

</header>
