.menu-block {
  padding: 20px 10px 0;

  h3{
    color: $white-clr;
    margin-bottom: 3px;
    border-bottom: solid 1px #81c1dc;
    padding-bottom: 2px;

    svg {
      width: 20px;
      height: 20px;
      fill: white;
      margin-right: 10px;
    }
  }

  ul {
    padding-left: 30px;
    color: $white-clr;

    li {
      padding-top: 5px;
      cursor: pointer;
    }

    li:hover {
      font-weight: bold;
      transition: .3s;
    }

    li:focus {
      outline: none;
    }

    li.active{
      font-weight: bold;
    }
  }

}
