﻿@{
    Layout = "_welcome";
}


<div class="content-wrapper">
    <div class="description">
        <img src="logo.png" alt="" />
        <h3>"Медицинская информационная система"</h3>
        <h4>Сервер авторизации</h4>
        <a class="btn primary" asp-controller="Account" asp-action="Login">ВХОД</a>
    </div>
</div>

