<div class="main-layout">

  <div class="side-bar">
    <mis-main-side-bar></mis-main-side-bar>
  </div>

  <div class="main-content-wrapper">

    <!-- Секция шапки -->
    <mis-main-header></mis-main-header>

    <!-- Тело шаблона -->
    <div class="content-body">

      <router-outlet></router-outlet>

    </div>

    <mis-modal></mis-modal>

  </div>

</div>
