@import 'vars/colors';
@import 'vars/block-sizes';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  & > *{
    padding: 10px;
  }

  .form-head {
    flex-grow: 0;
    height: $header-height;
    display: flex;
    align-items: center;
  }

  .form-body {
    flex-grow: 1;
    overflow-y: scroll;
  }

  .form-footer {
    flex-grow: 0;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
