<div class="wrapper">
  <mis-loader *ngIf="!formReady; else patientForm"></mis-loader>

  <ng-template #patientForm>

    <div class="form-head" *ngIf="patient">
      <h3>Пациент: {{patient.fio}} , амбулаторная карта № {{patient.ambulanceCard}} от {{ patient.registered }} </h3>
    </div>

    <div class="form-body" [formGroup]="form">

      <div class="block-label">
        <h4>Основные данные</h4>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="labeled-form-control">
            <label>Амб. карта</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="ambulanceCard">
          </div>
          <div class="labeled-form-control grow">
            <label>ФИО</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="fio">
          </div>
          <div class="labeled-form-control">
            <label>Пол:</label>
            <select class="form-control" [class.show-errors]="showErrors" formControlName="gender">
              <option value="Female">жен</option>
              <option value="Male">муж</option>
            </select>
          </div>
          <div class="labeled-form-control">
            <label>Дата рождения:</label>
            <input type="date" class="form-control" [class.show-errors]="showErrors" formControlName="birthday">
          </div>
          <div class="labeled-form-control">
            <label>Возраст</label>
            <input type="text" class="form-control" formControlName="age">
          </div>
        </div>
        <div class="form-row">
          <div class="labeled-form-control grow">
            <label>Телефоны: </label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="phones">
          </div>
          <div class="labeled-form-control">
            <label>E-mail</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="email">
          </div>
        </div>
      </div>

      <div class="block-label">
        <h4>Паспортные данные</h4>
      </div>

      <div class="form-group" formGroupName="passport">
        <div class="form-row">
          <div class="labeled-form-control">
            <label>Серия</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="series">
          </div>
          <div class="labeled-form-control">
            <label>Номер</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="number">
          </div>
          <div class="labeled-form-control">
            <label>Дата выдачи:</label>
            <input type="date" class="form-control" [class.show-errors]="showErrors" formControlName="issuedDate">
          </div>
          <div class="labeled-form-control grow">
            <label>Кем выдан</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="issuerDepartment">
          </div>
          <div class="labeled-form-control">
            <label>Код подразделения</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="departmentCode">
          </div>
        </div>
      </div>

      <div class="block-label">
        <h4>Документы</h4>
      </div>

      <div class="form-group">
        <div class="form-row">
          <div class="labeled-form-control">
            <label>ИНН:</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="inn">
          </div>
          <div class="labeled-form-control">
            <label>СНИЛС</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="snils">
          </div>
        </div>
      </div>

      <div class="block-label">
        <h4>Полис ОМС/ДМС</h4>
        <button type="button" class="btn primary" (click)="addPolis()">
          <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
        </button>
      </div>

      <div class="form-group" formArrayName="polises">
        <div class="form-row" *ngFor="let polis of polices.controls; index as i;" [formGroupName]="i"
          [formGroup]="getPolisFormGroup(i)">
          <div class="labeled-form-control">
            <label>Полис</label>
            <input type="text" class="form-control" formControlName="number">
          </div>
          <div class="labeled-form-control">
            <label>Дата выдачи:</label>
            <input type="date" class="form-control" formControlName="issuedDate">
          </div>
          <div class="labeled-form-control">
            <label>Страховая компания:</label>
            <select class="form-control" [class.show-errors]="showErrors" formControlName="issuerId">
              <option *ngFor="let company of insuranceCompanies.getList()" value="{{ company.key }}">{{company.value}}</option>
            </select>
          </div>
          <button class="btn default" *ngIf="!getPolisFormGroup(i).get('id').value" (click)="removePolis(i)">
            <fa-icon [icon]="['fas','trash-alt']"></fa-icon>
          </button>
        </div>
      </div>

      <div class="block-label">
        <h4>Адреса для связи</h4>
        <button type="button" class="btn primary" (click)="addAddress()">
          <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
        </button>
      </div>

      <div class="form-group" formArrayName="addresses">
        <div class="form-row" *ngFor="let address of addressArray.controls; index as i" [formGroupName]="i"
          [formGroup]="getAddressFormGroup(i)">
          <div class="labeled-form-control">
            <label>Тип адреса:</label>
            <select class="form-control" formControlName="addressTypeId">
              <option *ngFor="let adr of addressesTypes.getList()" value="{{adr.key}}">{{ adr.value }}</option>
            </select>
          </div>

          <div class="labeled-form-control">
            <label>Регион:</label>
            <input type="text" class="form-control" formControlName="region">
          </div>
          <div class="labeled-form-control">
            <label>Город:</label>
            <input type="text" class="form-control" formControlName="city">
          </div>
          <div class="labeled-form-control grow">
            <label>Улица:</label>
            <input type="text" class="form-control" formControlName="street">
          </div>
          <div class="labeled-form-control">
            <label>Дом:</label>
            <input type="text" class="form-control" formControlName="building">
          </div>
          <div class="labeled-form-control">
            <label>Квартира:</label>
            <input type="text" class="form-control" formControlName="room">
          </div>
          <button class="btn default"
            *ngIf="!getAddressFormGroup(i).get('id').value"
            (click)="removeAddress(i)">
              <fa-icon [icon]="['fas','trash-alt']"></fa-icon>
            </button>
        </div>
      </div>
    </div>


    <div class="form-footer">
      <button type="button" class="btn default"
        [routerLink]="['/patients']">Отмена</button>
      <button type="button" class="btn primary" (click)="onSubmit()">Сохранить</button>
    </div>

  </ng-template>

</div>
