// Общие стили
* {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
	min-height: 100vh;
}

// Roboto шрифт
body {
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 14px;

	margin: 0;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background-color: $background-clr;

	&* {
		display: block;
	}
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

.as-link {
	cursor: pointer;
}

.icon-50{
	width: 50px;
}

.icon-25{
	width: 20px;
}

.canvas {
  background-color: lightcyan;
}
