::-webkit-scrollbar-button {
  // background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
  }

  ::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#c4e1ff;
  }

  ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #523852;
  }

  ::-webkit-scrollbar-thumb:hover{
  background-color:#bd5b00;
  }

  ::-webkit-resizer{
  // background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px
  }

  ::-webkit-scrollbar{
  width: 5px;
  }
