<header>
  <div class="controls-block">
    <a class="btn primary" [routerLink]="[ '/doctors/setup' ]">
      <fa-icon [icon]="['fas', 'calendar-plus']"></fa-icon>
    </a>
  </div>
  <div class="search-block"></div>
</header>
<div class="table-block">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>ФИО</th>
        <th>Дата регистрации</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctorsList; let i=index; let odd=odd; trackBy: doctorsTrack">
        <td> {{ i+1 }} </td>
        <td> {{ doctor.fio }} </td>
        <td> {{ doctor.created }} </td>
        <td>
          <button type="button" class="btn default" [routerLink]="['/doctors/setup', doctor.id]">Ред.</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
