.modal-template {
  position: absolute;
  z-index: $modal-z-index;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;

  width: 100%;
  height: 100%;

  background-color: rgba(#212121, 0.7);

  transition: 300ms ease-out;
}
