.main-layout {
  height: 100%;

  display: flex;
  flex-flow: row nowrap;

}

.side-bar {
  flex-grow: 0;
  width: 300px;
}

.main-content-wrapper{
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  background-color: $mid-blue-clr;
}

.content-body{
  flex-grow: 1;
  overflow: hidden;
  background-color: $white-clr;
  margin: 10px;
}
