@import 'vars/colors';
@import 'vars/block-sizes';

.wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;

  &>div {
    padding: 10px;
  }

  .head,
  .footer {
    flex: 0 0 $header-height;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .head {
    border-bottom: 1px solid $black4-clr;
  }

  .footer {
    border-top: 1px solid $black4-clr;
    display: flex;
    justify-content: space-between;
  }

  .body {
    margin: 5px 0;
    flex-grow: 1;
    overflow-y: scroll;
  }

  .work-time-area {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .month-block {
      display: block;
      background-color: $light-blue-clr;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;

      &.four{
        flex: 0 0 25%;
      }

      &.seven {
        flex: 0 0 14%;

      }
      &.past {
        background-color: $black4-clr;
      }

      .month-head {
        background-color: $dark-blue-clr;
        padding: 5px 10px;
        border-top: 1px solid $mid-blue-clr;
        border-left: 1px solid $mid-blue-clr;
        border-right: 1px solid $mid-blue-clr;
        color: #fff;
        font-weight: bold;

        &.week-end{
          border-color: red;
        }
      }

      .month-body {
        border-left: 1px solid $mid-blue-clr;
        border-right: 1px solid $mid-blue-clr;
        border-bottom: 1px solid $mid-blue-clr;
        height: 65px;
        transition: .5s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: $dark-blue-clr;
          transition: .5s;
          color: #fff;
        }
      }
    }
  }
  .month-info {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 10px 5px;
    align-items: center;

    .copy-month {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;

      & > * {
        white-space: nowrap;
        margin-right: 10px;
      }
    }
  }

  .work-time {
    border: 1px solid #000;
  }
}
