<div class="wrapper">
  <mis-loader *ngIf="inProgress; else patientForm"></mis-loader>

  <ng-template #patientForm>

    <div class="head">
      <h4> {{ doctor.id ? 'Редактировать запись ' : 'Создать запись' }}</h4>
    </div>

    <div class="body">

      <div class="block-label">
        <h4>Основные данные</h4>
      </div>
      <div class="form-group" [formGroup]="form">
        <div class="form-row">
          <div class="labeled-form-control grow">
            <label>ФИО</label>
            <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="fio">
          </div>
        </div>
      </div>

      <div class="block-label" *ngIf="!showCalendar; else calendar">
        <h4>Расписание нельзя установить, пока не сохраните данные о докторе</h4>
      </div>

      <ng-template #calendar>

        <div class="block-label">
          <h4>График работы</h4>
        </div>
        <!-- Отображаем месяцы в году -->
        <ng-container *ngIf="showYear">
          <div class="work-time-area">
            <ng-container *ngFor="let month of scheduler.months">
              <div class="month-block four" [class.past]="month.isPast">
                <div class="month-head"> {{ (month.monthNumber + 1).toString().padStart(2,'0')}} {{ month.title}} {{
                  scheduler.year }}</div>
                <div class="month-body" (click)="setMonth(month)">
                  <h1> {{month.totalWorkHours}} </h1>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <!-- Отображаем дни в месяце -->
        <ng-container *ngIf="showMonth">
          <div class="month-info">
            <div class="controls">
              <button type="button" class="btn primary" (click)="removeMonth()">
                <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
              </button>
            </div>
            <div class="copy-month">
              <p>Скопировать месяц в</p>
              <select class="form-control">
                <option *ngFor="let month of scheduler.months" value="{{month.monthNumber}}">{{ month.title }}</option>
              </select>
              <button type="button" class="btn primary" title="Копировать">
                <fa-icon [icon]="['fas', 'copy']"></fa-icon>
              </button>
            </div>
            <div class="month-name">
              <h3> {{scheduler.selectedMonth.title}} {{ scheduler.year }}</h3>
            </div>
          </div>
          <div class="work-time-area">
            <ng-container *ngFor="let day of scheduler.selectedMonth.days">
              <div class="month-block seven" [class.past]="day.outOfThisMonth(scheduler.selectedMonth.monthNumber)">
                <div class="month-head">
                  <p>{{ day.day.toString().padStart(2,'0')}}.{{ day.month.toString().padStart(2,'0') }}.{{ day.year }}</p>
                  <p>{{ day.title}} </p>
                </div>
                <div class="month-body" (click)="setDay(day)">
                  <h1> {{day.totalWorkHours}} </h1>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <!-- Показать рабочую неделю -->
        <ng-container *ngIf="showWeek">
          <div class="month-info">
            <div class="controls">
              <button type="button" class="btn primary" (click)="removeDay()">
                <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
              </button>
            </div>
            <div class="month-name">
              <h3> {{ scheduler.selectedMonth.selectedDay.dayDate | date:'dd MMMM yyyy' }}</h3>
            </div>
          </div>
          <div class="work-time-area">
            <ng-container *ngFor="let day of scheduler.selectedMonth.selectedDay.week">
              <div class="month-block seven">
                <div class="month-head">
                  <p>{{ day.day.toString().padStart(2,'0')}}.{{ day.month.toString().padStart(2,'0') }}.{{ day.year }}</p>
                  <p>{{ day.title}} </p>
                </div>
                <div class="month-body">
                  <h1> {{day.totalWorkHours}} </h1>
                </div>
                <div class="canvas-block" id="day_{{ day.dayDate.getDay() }}">
                  <mis-workday-canvas
                    [objectId]="doctor.id"
                    [objectTitle]="doctor.fio"
                    [weekDay]="day"
                    parentElementSelector="day_{{ day.dayDate.getDay() }}">
                  </mis-workday-canvas>
                </div>
              </div>
            </ng-container>
          </div>

        </ng-container>
      </ng-template>
    </div>

    <div class="footer">
      <button type="button" class="btn default" [routerLink]="['/doctors']">Отмена</button>
      <button type="button" class="btn primary" (click)="onSubmit()"> {{ doctor.id ? 'Изменить' : 'Сохранить' }}
      </button>
    </div>

  </ng-template>

</div>
