<div class="modal-window">
  <h4>Запись нового пациента</h4>
  <!-- Секция валидации -->
  <div class="back-validations-errors" *ngIf="backErrors">
    <ul>
      <li *ngFor="let item of backErrors.errors.getList()">
        <p *ngFor="let error of item.value"> {{ error }} </p>
      </li>
    </ul>
  </div>

  <div class="form" [formGroup]="form" *ngIf="formReady">
    <div class="form-row">
      <div class="labeled-form-control grow">
        <label>Ф.И.О. пациента:</label>
        <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="fio">
      </div>
      <div class="labeled-form-control">
        <label>Дата рождения:</label>
        <input type="date" class="form-control" [class.show-errors]="showErrors" formControlName="birthday">
      </div>
    </div>

    <div class="form-row">
      <div class="labeled-form-control grow">
        <label>Контактные телефоны:</label>
        <input type="text" class="form-control" [class.show-errors]="showErrors" formControlName="phones">
      </div>
      <div class="labeled-form-control">
        <label>Пол:</label>
        <select class="form-control" [class.show-errors]="showErrors" formControlName="gender">
          <option value="female">жен</option>
          <option value="male">муж</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="labeled-form-control grow">
        <label>Откуда вы о нас узнали? :</label>
        <select class="form-control wide" [class.show-errors]="showErrors" formControlName="sourceOfInformation">
          <option *ngFor="let item of sourceOfInformation" value="{{ item.id }}"> {{ item.fullName }} </option>
        </select>
      </div>
    </div>

    <div class="form-comment">
      <div class="labeled-form-control">
        <label>Комментарий</label>
        <textarea rows="10" class="form-control" [class.show-errors]="showErrors" formControlName="comment"></textarea>
      </div>
    </div>
    <p>Ответственный: {{user.fio}}</p>
  </div>

  <div class="modal-window__buttons">
    <button (click)="close()" class="btn default" type="button">
      Отмена
    </button>

    <button (click)="onSubmit()" class="btn primary" type="button">
      Ок
    </button>
  </div>
</div>
