<div class="common-wrapper">
  <div class="overlay">

    <img src="/assets/logos/logo.png" alt="">

    <h1>Вы не авторизованны.</h1>
    <h3>
      Для входа в приложение нажмите
      <button class="btn big default" type="button" (click)="login()">сюда</button>
    </h3>
  </div>
</div>
