.dd-menu-container {
  position: relative;
}

.drop-down-menu{
  position: absolute;
  top: $header-height;
  right: 0;
  background: $black2-clr;
  color: $black9-clr;
  z-index: 999;
  min-width: 200px;
  border-color: $black9-clr;
  border-top: none;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;

  .dd-menu-item {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;

    &:hover{
      background-color: $black9-clr;
      color: $black2-clr;
      transition: .5s;
    }
  }

}
