// Основной цвет подложки
$background-clr: #F8F8F8;
$background-layout: #dae6ed;

// -----Градации серого------------
$black2-clr: #EDEDED;
$black3-clr: #DBDBDB;
$black4-clr: #CCCCCC;
$black7-clr: #BBBBBB;
$black75-clr: #787878;
$black8-clr: #4D4D4D;
$black9-clr: #212121;

// ----Фон элемента------------------
$main-green-clr: #65a026;
$main-hover-clr: #407C00;
$main-middle-clr: #BBD79C;
$main-light-clr: #DFF0CD;
$main-bright-text-color: #c2e4f9;
$main-dark-text-color: #343e44;

// ----Ошибки-------------
$error-clr: #F35252;
$error-light-clr: #FFE0D9;
$error-hover-clr: #DC3030;

// -----------------
$white-clr: #FFFFFF;
$disabled-clr: #efefef;

// ------ Основные цвета ------
$dark-blue-clr: #2699FB;
$blue-clr: #7FC4FD;
$mid-blue-clr: #BCE0FD;
$light-blue-clr: #F1F9FF;


// Цвет заливки неактивной области модальных окон
$overlay: rgba($color: #000000, $alpha: .6);
