// Стили приоритета слоёв

// Модальное окно
$modal-z-index: 1200;

// Лоадер
$loader-z-index: 1000;

// Выпадающий список для селекта
$dropdown-list-z-index:  950;

// Меню текущего пользователя
$current-user-popup: 550;
