.main-header{
  height: $header-height;
  border-top: white;
  border-bottom: 1px solid $black9-clr;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: $black2-clr;

  img {
    padding: 0 5px;
  }
}

.left{
  .messages {
    position: relative;

    .attention {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 15px;
      height: 15px;
      background-color: $main-green-clr;
      border-radius: 50%;
      text-align: center;
      font-weight: bold;
      font-size: 11px;
      color: $background-clr;
      padding-top: 1px;
    }
  }
}

.right {
  display: flex;
  align-items: center;
  height: 100%;
}
