﻿/*font-family: 'Roboto-Reg', sans-serif;*/
@font-face {
    font-family: 'Roboto-Reg';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype') /* Safari, Android, iOS */
}

/*font-family: 'Roboto-Light', sans-serif;*/
@font-face { /*font-family: 'Roboto-Reg', sans-serif;*/
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype') /* Safari, Android, iOS */
}
