﻿.form-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    color: whitesmoke;
}

.title {
    padding-bottom: 10px;
}

ul.list-group {
    list-style: none;
}

    ul.list-group li {
        padding-bottom: 10px;
    }

p.panel-heading {
    padding-bottom: 10px;
}

h3.title {
    color: whitesmoke;
    font-size: 35px;
    text-shadow: 0px 0px 4px #D3D3D3;
    font-weight: 100;
}

h4.title {
    color: whitesmoke;
    font-weight: 100;
    font-size: 15px;
}

.form-field {
    min-width: 300px;
    padding-top: 10px;
}

    .form-field label {
        color: whitesmoke;
        font-weight: 100;
        font-size: 15px;
        padding-bottom: 5px;
    }

    .form-field > * {
        display: block;
    }

    .form-field input:focus {
        outline: none;
    }

    .form-field > input[type="text"],
    .form-field > input[type="password"] {
        width: 100%;
        background-color: rgba(0, 0, 0, .80);
        border: solid 1px darkgray;
        color: whitesmoke;
        font-weight: 100;
        border-radius: 5px;
        padding: 10px 5px;
    }

.button-row {
    display: flex;
    flex-flow: row;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}
