﻿* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    font-family: 'Roboto-Reg', sans-serif;
}

body {
    background: url("../index.back.jpg") no-repeat 100% 100%;
    position: relative;
}

iframe {
    opacity: 0;
}

.content-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

    .content-wrapper .description {
        padding: 20px;
        text-align: center;
        border-radius: 5px;
    }

.description h1 {
    color: whitesmoke;
    font-size: 4em;
    font-weight: bold;
}

.description h2 {
    color: whitesmoke;
    font-size: 3em;
}

.description h3 {
    font-family: 'Roboto-Light', sans-serif;
    color: whitesmoke;
    font-size: 2em;
    font-weight: 100;
    text-shadow: 0px 0px 4px #fff;
}

.description h4 {
    font-family: 'Roboto-Light', sans-serif;
    color: #8a8a8a;
    font-size: 25px;
    font-weight: 100;
}

.description a {
    display: inline-block;
    background-color: #189dd0;
    color: whitesmoke;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: solid 1px darkgray;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.btn-small {
    padding: 5px;
    font-size: 12px;
}

.btn.primary {
    background-color: #189dd0;
    color: whitesmoke;
}

.btn.default {
    background-color: darkgray;
}

.btn.warning {
    background-color: #e07a11;
    font-weight: 600;
}

h3.title,
h4.title {
    color: lightgray;
}

h3.title {
    font-size: 35px;
}

h4.title {
    font-size: 25px;
}

.loggedout-hint {
    padding-top: 20px;
    color: whitesmoke;
}

    .loggedout-hint a {
        color: white;
    }
