<div class="side-bar-wrapper">
  <div class="logo">
    <img src="/assets/logos/logo.png" alt="">
  </div>

  <div class="menu-content">

    <!-- Шаблон меню блока -->
    <!-- TODO Вынести в компонент -->
    <div class="menu-block">
      <h3>
        <fa-icon [icon]="['fas','users']"></fa-icon>
        Пациенты
      </h3>
      <ul>
        <li [routerLink]="[ '/', 'patients', 'index' ]" routerLinkActive="active">Главная</li>
      </ul>
    </div>

    <div class="menu-block">
      <h3>
        <fa-icon [icon]="['fas','user-md']"></fa-icon>
        Доктора
      </h3>
      <ul>
        <li [routerLink]="[ '/', 'doctors', 'index' ]" routerLinkActive="active">Главная</li>
      </ul>
    </div>

    <div class="menu-block">
      <h3>
        <fa-icon [icon]="['fas','cogs']"></fa-icon>
        Настройки
      </h3>
      <ul>
        <li [routerLink]="[ '/', 'settings', 'dictionaries' ]" routerLinkActive="active">Справочники</li>
      </ul>
    </div>

  </div>

  <div class="ver">
    <p>ver. 0.0.1 01.2019 OXY&copy;</p>
  </div>
</div>
