@import 'vars/colors';

.progress{
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  img {
    width: 100px;
  }
}
.content-wrapper {
  padding: 5px;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
}

.search-block {
  width: 100%;
}

.dictionary-list{
  border-bottom: 1px solid #000;
  width: 100%;
  flex-grow: 1;
  padding-top: 10px;
  position: relative;

}
.dictionary{
  align-items: center;
  flex-grow: 0;
}

.dictionary-items{
  flex-grow: 1;
  padding-left: 10px;
}

.column-block{
  height: 100%;
  width: 350px;
  display: flex;
  flex-flow: column nowrap;

  .wide{
    flex-grow: 1;
  }
}

.item {
  flex-grow: 1;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;

  &.buttons-block{
    justify-content: space-around;

    button {
      flex-grow: 0;
    }
  }
}

.content-item {
  border-bottom: 1px solid $black4-clr;

  &:hover {
    background-color: $black2-clr;
  }
}

.item-column{
  display: flex;
  flex-flow: column nowrap;
}

.edit-dictionary {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #fff;
}
