<div class="progress" *ngIf="onProgress; else content">
  <h1>Получение данных</h1>
  <img src="/assets/loading/dna.svg" alt="">
</div>

<ng-template #content>

  <div class="content-wrapper">
    <!-- Левая сторона -->
    <div class="column-block dictionary">
      <div class="search-block" [formGroup]="searchForm">
        <p>Поиск по наименованию:</p>
        <input type="text" class="form-control" formControlName="searchString">
      </div>
      <div class="dictionary-list">
        <div class="item-row">
          <h4>Список справочников:</h4>
          <button type="button" class="btn primary" (click)="createEditDictionary(null)">Добавить</button>
        </div>
        <div class="edit-dictionary" [formGroup]="editDictionary" *ngIf="editDictionary">
          <h4>Редактирование справочника</h4>
          <div class="item-column">
            <label>Наименование справочника:</label>
            <input type="text" class="form-control" formControlName="title">
            <label>Описание справочника</label>
            <textarea rows="5" formControlName="description"></textarea>
            <div class="item-row buttons-block">
              <button type="submit" class="btn primary" (click)="submitDictionary()">Сохранить</button>
              <button type="button" class="btn default" (click)="cancelDictionary()">Отмена</button>
            </div>
          </div>
        </div>
        <div class="item-row content-item" *ngFor="let item of filteredDictionaries">
          <p class="item as-link" (click)="selectDictionary(item.id)">{{ item.title }}</p>
          <button type="button" class="btn default" (click)="createEditDictionary(item)">ред.</button>
        </div>
      </div>
    </div>

    <!-- Правая сторона -->
    <div class="column-block dictionary-items" *ngIf="selectedDictionary">
      <h3>Данные справочника: {{selectedDictionary.title}}</h3>
      <h4>Описание</h4>
      <p>{{ selectedDictionary.description }}</p>
      <br>
      <div class="item-row">
        <h3>Содержимое справочника</h3>
        <button class="btn primary" (click)="createEditDictionaryItem(null)">Добавить</button>
      </div>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>№</th>
            <th>Код 804Н</th>
            <th>Краткое наименование</th>
            <th>Полное наименование</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="editDictionaryItem" [formGroup]="editDictionaryItem">
            <td>#</td>
            <td>
                <input type="text" class="form-control" formControlName="code">
            </td>
            <td>
              <input type="text" class="form-control" formControlName="shortName">
            </td>
            <td>
              <input type="text" class="form-control" formControlName="fullName">
            </td>
            <td>
              <div class="item-row buttons-block">
                <button class="btn primary" (click)="submitDictionaryItem()">Сохранить</button>
                <button class="btn default" (click)="cancelDictionaryItemEdit()">Отменить</button>
              </div>
            </td>
          </tr>
          <tr *ngFor="let item of selectedDictionary.items; index as i; odd as odd" [class.odd]="odd">
            <td class="center"> {{ i + 1}} </td>
            <td class="center"> {{ item.code }} </td>
            <td> {{ item.shortName }} </td>
            <td class="wide"> {{ item.fullName}} </td>
            <td class="center">
              <button type="button" class="btn default" (click)="createEditDictionaryItem(item)">ред.</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</ng-template>
