﻿@model identity_server_4.Controllers.Consent.ConsentViewModel
@{
    Layout = "_welcome";
}
@section styles{
    <link href="~/css/forms.css" rel="stylesheet" />
}
<div class="content-wrapper">
    <div class="form-wrapper">

        <img src="~/logo.png" alt="" />

        @if (Model.ClientLogoUrl != null)
        {
            <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
        }
        <h3 class="title">
            @Model.ClientName
        </h3>
        <h4 class="title">
            Запрос данных пользователя.
        </h4>

        <div class="row">
            <div class="col-sm-8">
                <partial name="_ValidationSummary" />

                <form asp-action="Index" class="consent-form">
                    <input type="hidden" asp-for="ReturnUrl" />


                    @if (Model.IdentityScopes.Any())
                    {
                        <div class="panel panel-default consent-buttons">
                            <p class="panel-heading">
                                <span class="glyphicon glyphicon-user"></span>
                                Персональные данные
                            </p>
                            <ul class="list-group">
                                @foreach (var scope in Model.IdentityScopes)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.ResourceScopes.Any())
                    {
                        <div class="panel panel-default">
                            <p class="panel-heading">
                                <span class="glyphicon glyphicon-tasks"></span>
                                Доступ приложения
                            </p>
                            <ul class="list-group">
                                @foreach (var scope in Model.ResourceScopes)
                                {
                                    <partial name="_ScopeListItem" model="@scope" />
                                }
                            </ul>
                        </div>
                    }

                    @if (Model.AllowRememberConsent)
                    {
                        <div class="consent-remember">
                            <label>
                                <input class="consent-scopecheck" asp-for="RememberConsent" />
                                <strong>Запомнить мой выбор</strong>
                            </label>
                        </div>
                    }

                    <div class="button-row">
                        <button name="button" value="yes" class="btn primary" autofocus>Принять</button>
                        <button name="button" value="no" class="btn default">Отмена</button>
                        @if (Model.ClientUrl != null)
                        {
                            <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                <strong>@Model.ClientName</strong>
                            </a>
                        }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
