<div class="wrapper">
  <header>
    <div class="controls-block">
      <a class="btn primary" (click)="createNewPatient()">
        <fa-icon [icon]="['fas', 'calendar-plus']"></fa-icon>
      </a>
    </div>
    <div class="search-block"></div>
  </header>

  <div class="table-block">
    <table class="table">
      <thead>
        <tr>
          <th>№</th>
          <th>Амбулаторная <br> карта №</th>
          <th>ФИО</th>
          <th>Дата <br> рождения</th>
          <th>Возраст, <br> полных лет</th>
          <th>Пол</th>
          <th>Дата <br> регистрации</th>
          <th>Источник <br> информации</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of patients; let i=index; let odd=odd; trackBy: trackPatients"
          [routerLink]="[ '/patients/detail', item.id ]"
          [class.odd]="odd">

          <td> {{ i +1 }} </td>
          <td class="center"> {{item.ambulanceCard}} </td>
          <td> {{item.fio}} </td>
          <td class="center"> {{item.birthday}} </td>
          <td class="center"> {{item.age}} </td>
          <td> {{item.gender}} </td>
          <td> {{item.registered}} </td>
          <td> {{item.informSource}} </td>
          <td class="center" title="{{ item.comments }}">
            <fa-icon [icon]="['fas', 'comment-dots']" size="2x"></fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
