@import 'vars/colors';
@import 'vars/block-sizes';

.wrapper{
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding-top: $header-height;
  height: 100%;

  header{
    position: absolute;
    width: 100%;
    top: 0;
    height: $header-height;
    border-bottom: 1px solid $black4-clr;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
  }

  .table-block {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 1px;
  }
}
