﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Медицинская информационная система OXY</title>
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/index.css" />
    @RenderSection("styles", false)
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("scripts", false)
</body>
</html>
