.side-bar-wrapper{
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, $black9-clr, 90%, #013452);//$dark-blue-clr;//linear-gradient(0deg, $black9-clr, 90%, #013452);
  display: flex;
  flex-flow: column nowrap;
  min-width: 300px;
}

.logo{
  display: flex;
  justify-content: center;

  img{
    height: 50px;
    margin: 10px 0;
  }
}
.menu-content {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-right: 5px;
}

.menu-content:hover{
  overflow-y:auto;
}

.ver{
  align-self: center;
  color: whitesmoke;
  font-weight: bold;
  font-size: 10px;

}
