﻿@model identity_infrastructure.Viewmodels.LoggedOutViewModel

@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    Layout = "_welcome";
}

<div class="content-wrapper">
    <img src="/logo.png" alt="" />

    <h3 class="title">Выход из системы</h3>
    <h4 class="title">Выход из системы выполнен успешно</h4>
    <div class="page-header logged-out">

        @if (Model.PostLogoutRedirectUri != null)
        {
            <div class="loggedout-hint">
                Подождите. Страница закроется сама через пару секунд.
                <br />
                Или нажмите <strong><a class="PostLogoutRedirectUri btn primary btn-small" href="@Model.PostLogoutRedirectUri">сюда</a></strong> для возврата в
                <span>@Model.ClientName</span> приложение.
            </div>
        }

        @if (Model.SignOutIframeUrl != null)
        {
            <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
        }
    </div>
</div>

@section scripts
    {
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
