﻿@model identity_infrastructure.Viewmodels.LoginViewModel
@{
    Layout = "_welcome";
}

@section styles {
    <link rel="stylesheet" href="/css/forms.css" />
}
<div class="content-wrapper">
    <div class="form-wrapper">
        <partial name="_ValidationSummary" />

        <img src="/logo.png" alt="" />

        <h3 class="title">"Медицинская информационная система"</h3>
        <h4 class="title">АВТОРИЗАЦИЯ ПОЛЬЗОВАТЕЛЯ</h4>

        <form asp-route="Login" method="post">
            <input type="hidden" asp-for="ReturnUrl" />

            <div class="form-field">
                <label>Адрес эл. почты</label>
                <input type="text" asp-for="Username" autofocus />
            </div>
            <div class="form-field">
                <label>Пароль пользователя</label>
                <input type="password" asp-for="Password" autofocus />
            </div>
            <div class="button-row">
                <button class="btn primary" name="button" value="login">Вход</button>
                <button class="btn default" name="button" value="cancel">Отмена</button>
            </div>
        </form>
    </div>
</div>