﻿@model identity_infrastructure.Viewmodels.LogoutViewModel
@{
    Layout = "_welcome";
}
@section styles
    {
    <link rel="stylesheet" href="/css/forms.css" />
}
<div class="content-wrapper">
    <div class="form-wrapper">
        <img src="/logo.png" alt="" />

        <h3 class="title">"Медицинская информационная система"</h3>
        <h4 class="title">Подтвердите выход из системы</h4>
        <form asp-route="Logout">
            <input type="hidden" name="logoutId" value="@Model.LogoutId" />
            <div class="button-row">
                <button type="submit" class="btn warning">Выйти</button>
            </div>
        </form>
    </div>
</div>
@*<div class="logout-page">
        <div class="page-header">
            <h1>Выход</h1>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <p>Подтвердите выход из системы Oxy-center</p>
                <form asp-action="Logout">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                    <fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary">ВЫЙТИ</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>*@